<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Selected Customer:</h1>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Company</th>
          <th>Region</th>
          <th>Info</th>
          <th>ZipCode</th>
          <th>Country</th>
          <th>Phone</th>
          <th>City</th>
          <th>OrganisationNumber</th>
        </tr>
        <tr>
          <td>{{selectedCustomer.name}}</td>
          <td>{{selectedCustomer.email}}</td>
          <td>{{selectedCustomer.company}}</td>
          <td>{{selectedCustomer.region}}</td>
          <td>{{selectedCustomer.info}}</td>
          <td>{{selectedCustomer.zipCode}}</td>
          <td>{{selectedCustomer.country}}</td>
          <td>{{selectedCustomer.phone}}</td>
          <td>{{selectedCustomer.city}}</td>
          <td>{{selectedCustomer.organisationNumber}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
